<% render 'shared/navbar' %> 

<h1><%= @user.first_name %> user id: <%= @user.id %></h1>
<h2>All Gadgets</h2>
<% unless @gadgets.blank? %>
<ul class="list-group">
  <% @gadgets.each do |gadget| %>
  <li class="list-group-item">
  		<%= gadget.name %>
    	<%= link_to "Show gadget", gadget_path(gadget) %>
        <%= link_to "Edit gadget", gadget_path(gadget) %>

        <%=
          link_to "Delete gadget", gadget,
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>
    </li>
  <% end %>
</ul>
<% end %>

<h3> Search Gadgets </h3>
<div class="col-sm-3 col-md-3">
  <%= form_tag gadget_search_path, method: 'get', class: 'navbar-form', role: 'search' do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], size: 150, placeholder: "Search", class: "form-control"%>
    </div>
    <%= submit_tag 'Search', class: 'btn btn-success' %>
    <div class="input-group-btn">
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New gadget", new_gadget_path %>